.header {
    display: flex;
    height: 100px;
}

.header__sticky-container{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px #DFDDDDFF;
    border-radius: 0 0 10px 10px;
    transition: height 0.4s ease-in-out;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
    pointer-events: none;
}


@media (min-width: 480px) {
    .header {
        display: flex;
        height: 130px;
    }

    .header__sticky-container{
        border-radius: unset;
    }


    :target:before {
        content: "";
        display: block;
        height: 180px;
        margin-top: -180px;
        visibility: hidden;
        pointer-events: none;
    }
}